body {

	margin-top: 100px;
	text-align: center;
	font-family: Georgia;
}
button {

	font-family: Georgia;
	margin-top: 10px;
}
img {

	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    padding-bottom: 50px;
}