body {

	margin-top: 100px;
	text-align: center;
	font-family: Georgia;
}
button {

	font-family: Georgia;
	margin-top: 20px;
	background-color: #2ECCFA;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
}
img {

	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    padding-bottom: 50px;
}

ul li {

	list-style-type: none;
} 


div.div1 {

	float: left; 
	height: 100%; 
	width: 50%;
	display: inline-block;

}
div.div2 { 

	height: 100%; 
	width: 50%;
	float: right;
	display: inline-block;
}
h3 {

	font-size: small;
}
div.div3 {

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; 
}
input[ng-model="message"]{

	height: 200px;
	width: 300px;

} 




