
<div class = "div1">

<h2>Available rooms </h2>

  <div class="row">
    <form>
      <label>Room name:</label>
      <input type="text" ng-model="roomName"/><br>
      <button ng-click="newRoom()">Create new room</button>
          <div>
              {{errorMessage}}
          </div>
    </form>
  </div>

  <div>
    <ul>
      <li ng-repeat="(name, room) in roomlist">
        <a href ng-click="moveToRoom(name)">{{name}}</a>
      </li>
    <ul>
  </div>
</div> 
</div>

<div class = "div2">
<h2>Active users </h2>

<div>
  <ul>
    <li ng-repeat="item in activeUsers">
      <a href ng-click="moveToPrivateRoom(item)">{{item}}</a>
    </li>
  </ul>
</div>

<div class="logOut">
    <button ng-click="logOut()">Log out</button>
</div>


