<div>

<h2>Nafn á chatti</h2>

	<div>
		<ul>
			<li ng-repeat= "users in currentUsers"> </li>
			 <div> {{user.name}}</div>
		</ul>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<label>Message:</label>
			<input type="text" ng-model="message"/>
			{{message}}

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button ng-click="sendmsg()">Send</button>
		</div>
	</div>

	

 	<div class="row">
		<div class="col-xs-12">
      <ul>
      <li ng-repeat="message in messageHistory">
        <div> {{message.nick}}</div>
        <div style="color:blue;"> {{message.message}}</div>
      </li>
   		 </ul>
		</div>

	<div class="col-xs-12">
    	<button ng-click="leaveRoom()">Leave</button>
    </div>



</div>

	
