
<h2>{{roomName}}</h2>

<div class= "div1">
	<div>
		<h3>Users in room</h3>
		<ul>
			<li ng-repeat="username in currUsers">{{username}}
				<button class="kick" ng-click="kickUser(username)" ng-model="kickUser">Kick</button>
				<button class="kick" ng-click="banUser(username)" ng-model="banUser">Ban</button>
  			</li>
  		</ul>
		<div>
			{{errorMessage}}
		</div>
	</div>

	<div>
		<label>Message:</label>
		<input type="text" ng-model="message"/>
	</div>

	<div>
		<button ng-click="sendmsg()">Send</button>
	</div>

</div>

<div class="div2">
	<ul>
		<h3>Message History</h3>
		<li ng-repeat="message in messageHistory">
			<div> {{message.nick}}</div>
			<div style="color:blue;"> {{message.message}}</div>
		</li>
	</ul>
</div>

<div class="div3">
	<div class="leaveRoom">
    	<button ng-click="leaveRoom()">Leave</button>
    </div>

	<div class="logOut">
	    <button ng-click="logOut()">Log out</button>
	</div>
</div>
